/* App wide css goes here */
.logo-font{
  font-family: 'Leckerli One', cursive;
}
a,[role="link"]{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover,[role="link"]:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
*:focus{
    outline: none !important;
}
.margin-tb-50{
    margin-top:50px;
    margin-bottom: 50px;
}