/* App wide css goes here */
.logo-style{
  margin-top: -30px;
  color: #fff;
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
}
a,[role="link"]{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover,[role="link"]:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}